* {
  font-family: JetBrainsMono;
  color: #ffffff;
  background: transparent;
  font-size: xx-large;
}

#window {
  background: rgba(41, 53, 66, 0.90);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #72a8d1;
}

#input {
    visibility: hidden;
    display: none;
    margin: -50px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(41, 53, 66, 0.75);
  border: #72a8d1 solid 1px;
}

#text {
  margin: 2px;
}
