/* credit: https://github.com/owlsly94/dotfiles/blob/2f9e5307632ed95524bbd2f665280f43728d4b73/.config/wofi/style.css */
* {
  font-family: JetBrainsMono;
  color: #ffffff;
  background: transparent;
}

#window {
  background: rgba(41, 53, 66, 0.90);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #72a8d1;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: #72a8d1 solid 1px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(41, 53, 66, 0.75);
  border: #72a8d1 solid 1px;
}

#text {
  margin: 2px;
}