/*
!*/
!.gitignore
!.bash_aliases
!README.md
!install.sh
*/
!hypr/
!waybar/
!yazi/
!hyprland-autoname-workspaces/
!rofi/
!rofi/*/
!rofi/*/*/
!rofi/*/*/*/
!VSCodium/
!VSCodium/*/
!VSCodium/*/*/
!scripts/
!scripts/*/